@font-face {
  font-family: 'Roboto Serif', serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');
}

@tailwind base;
@tailwind components;
@tailwind utilities;



body::-webkit-scrollbar {
  display: none;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-x {
  animation: bounce 1s infinite;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transform {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0px);
  }
}


@layer components {
  .animate-bounce-x {
    @apply bounce-x
  }

  .htmlTags {
    @apply before:absolute before:font-shadows before:-top-2 before:-left-4 before:text-[10px] before:font-light before:text-primaryDark before:opacity-20 after:absolute after:-bottom-2 after:-left-4 after:font-shadows after:font-light after:text-[10px] after:text-primaryDark after:opacity-20
  }

  .hoverShadowDark {
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.3)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.215656)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.178832)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.121168)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0843437));
  }
  
  .innerShadowContainer {
    box-shadow: inset 7px 11px 25px 8px rgba(0, 0, 0, 0.2);
  }

  .bgImg {
    background-image: url('../profile-big.png');
  }

  .inner {
    @apply max-w-5xl mx-auto
  }

  .burgerActive {
    @apply rotate-45 duration-500 before:bottom-auto before:top-0 before:h-0.5 before:w-5 before:-rotate-90 after:opacity-0;
  }

  .navFade {
    animation: fade 1s ease-in-out
        calc(var(--large-navigation-item-index) * 0.18s) forwards,
      transform 1s ease-in-out calc(var(--large-navigation-item-index) * 0.18s)
        forwards;
  }

  .navList {
    @apply w-fit translate-y-0 cursor-pointer font-rubik text-4xl font-bold capitalize opacity-0 duration-1000 hover:text-primaryCoral xs:text-textXL;
  }

  .fixedWidth {
    width: calc(100% - 110px);
  }

  .fixedHeight {
    height: calc(100%);
  }

  .btn {
    @apply rounded-[15px] border-2 border-primaryCoral py-3 px-4;
  }

  .inner {
    @apply mx-auto max-w-7xl;
  }

  .h1-heading {
    @apply text-text2xl;
  }

  .sub-heading {
    @apply text-textXL;
  }

  .base-heading {
    @apply text-textLG;
  }

  .m-text {
    @apply text-textBASE;
  }

  .s-text {
    @apply text-textSM;
  }

  .xs-text {
    @apply text-textXS;
  }
}
